**/*.pyc
**/__pycache__/
.*.sw?
.coverage
.coverage.*.*.*
.mypy_cache/
.vscode
dist/
docs/_build/
htmlcov/
MANIFEST
TestSlide.egg-info/
**/node_modules
*.vsix
**/package-lock.json
.coverage.lcov
venv/
